body, h1, h2, h3,
p, section, img, ul, li {
	padding: 0;
	margin: 0;
}

h1, h2 { font-family: Rubik; }
p { font-family: Roboto; }

:root {
	--colo-20: 204, 44, 44;
	--colo-80: 255, 255, 255;
	--x-margin: 4%;
	background: rgba(var(--colo-80), 1);
}

.--blackToWhite {
	filter: invert(100%);
}

.logo { aspect-ratio: 1; }
.logo--large { width: 50px; }
