* {
    margin: 0px;
    padding: 0px;
}

.app__title {
    font-size: 3rem;
}

.app__header {
    text-align: center;
}

.app__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.game__scoreboard {
    display: flex;
    gap: 20px;
}

.game__currentScore {
    text-align: center;
}

.game__currentScoreValue {
    font-size: 2rem;
}

.game__bestScore>p {
    text-align: center;
}

.scoreboard__delimiter {
    width: 3px;
    background: black;
}

.scoreboard__heading {
    font-weight: bold;
}

.scoreboard__item {
    display: flex;
    gap: 10px;
}

.scoreboard__score {
    flex: 1;
    text-align: right;
}

.difficultySetter {
    display: flex;
    gap: 20px;
}

.difficulty__item>* {
    pointer-events: none;
}

.difficulty__item {
    display: flex;
    gap: 5px;
    align-items: center;
}

.difficulty__indicator {
    width: 20px;
    aspect-ratio: 1;
    background: grey;
}

.difficulty__indicator--on {
    background: green;
}

.cards {
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid grey;
    background: white;
}

.card>* {
    pointer-events: none;
}

.card:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.card__image {
    aspect-ratio: 1;
    width: 256px;
}

.card__author {
    text-align: right;
}
