* {
    margin: 0px;
    padding: 0px;
}

.app__title {
    font-size: 48px;
}

.app__header {
    text-align: center;
}

.difficultySetter {
    display: flex;
    gap: 20px;
}

.difficulty__item>* {
    pointer-events: none;
}

.difficulty__item {
    display: flex;
    gap: 5px;
    align-items: center;
}

.difficulty__indicator {
    width: 30px;
    aspect-ratio: 1;
    background: grey;
}

.difficulty__indicator--on {
    background: green;
}

.cards {
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid grey;
    background: white;
}

.card>* {
    pointer-events: none;
}

.card:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.card__image {
    aspect-ratio: 1;
    width: 256px;
}

.card__author {
    text-align: right;
}
