.hero {
	color: white;
	position: relative;
	background: grey;
	height: 70vh;
}

.hero__background {
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(60%);
	transform: scaleX(-1);
}

.hero__content {
	position: absolute;
	top: 75%;
	left: 0%;
	padding: 0px var(--x-margin);
}

.contentImage { aspect-ratio: 4/3; }
	.contentImage--small { width: 100px; }
	.contentImage--medium { width: 200px; }
	.contentImage--large { width: 500px; }

.sectionHeading { font-size: 40px; }
.sectionParagraph { 
	font-size: 18px; 
	text-align: justify;
}

main h2,
main h3 {
	color: rgba(var(--colo-20), 1);
}

.hero > section > h2 {
	font-size: 40px;
	color: rgba(var(--colo-80), 1);
}

.textBesideImage {
	display: flex;
	padding-right: var(--x-margin);
}

.textBesideImage--reverse {
	padding-left: var(--x-margin);
	display: flex;
	flex-flow: row-reverse;
}

.textBesideImage,
.textBesideImage--reverse {
	align-items: center;
	gap: 50px;
}

.textBesideImage--reverse h2,
.textBesideImage--reverse p,
.textBesideImage h2,
.textBesideImage p {
	margin-bottom: 20px;
}


.textBesideImage > div,
.textBesideImage--reverse > div {
	position: relative;
}

.callToAction button,
.textBesideImage button,
.textBesideImage--reverse button {
	padding: 8px 15px;
	border: 0px solid black;
	background: rgba(var(--colo-20), 1);
	font-weight: bold;
	color: rgba(var(--colo-80), 1);
}

#OrderNow:hover,
#MeetTheChef:hover, 
#SeeMore:hover {
	filter: brightness(120%);
}

.WhoWeAre {
	background: cornsilk;
}

.signature {
	padding: 50px var(--x-margin);
	background: cornsilk;
}

.callToAction *,
.signature .sectionHeading,
.signature  p,
.signature h3 {
	text-align: center;
}

.signature > p,
.callToAction > p {
	margin-bottom: 20px;
}

.signatureItems {
	display: grid;
	grid-template: 1fr / repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.signature__item > img {
	display: block;
	border: 2px solid burlywood;
	margin: auto;
}

.callToAction { padding: 50px var(--x-margin); }

.callToAction button { 
	display: block;
	margin: auto;
}

@media (max-width: 800px) {
	.identity__text {
		display: none;
	}

	.textBesideImage,
	.textBesideImage--reverse {
		flex-wrap: wrap;
		justify-content: center;
		padding: 0px;
		padding-bottom: 50px;
	}

	.textBesideImage > img,
	.textBesideImage--reverse > img{
		aspect-ratio: 3 / 2;
		width: 100%;
		object-fit: cover;
	}
	.textBesideImage > div > *,
	.textBesideImage--reverse > div > * {
		text-align: center;
	}

	.textBesideImage .sectionHeading,
	.textBesideImage--reverse .sectionHeading {
		text-align: center;
		margin-bottom: 0px;
	}

	.textBesideImage button,
	.textBesideImage--reverse button {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	.textBesideImage .sectionParagraph,
	.textBesideImage--reverse .sectionParagraph {
		font-size: 16px;
		padding: 0px 5vw;
	}
}
