.hero {
	color: white;
	position: relative;
	background: grey;
	height: 70vh;
}

.hero__background {
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(60%);
	transform: scaleX(-1);
}

.hero__content {
	position: absolute;
	top: 75%;
	left: 0%;
	padding: 0px var(--x-margin);
}

.contentImage {
	aspect-ratio: 1;
}
	.contentImage--small {
		width: 100px;
	}
	.contentImage--medium {
		width: 250px;
	}
	.contentImage--large {
		width: 400px;
	}

main h2,
main h3 {
	color: rgba(var(--colo-20), 1);
}

.hero > section > h2 {
	font-size: 40px;
	color: rgba(var(--colo-80), 1);
}

.signature > div {
	display: flex;
}
