.hero {
	color: white;
	position: relative;
	background: grey;
	height: 70vh;
}

.hero__background {
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(60%);
	transform: scaleX(-1);
}

.hero__content {
	position: absolute;
	top: 50%;
	left: 0%;
	padding: 0px var(--x-margin);
}

@media (max-width: 600px) {
	.about__main { 
	display: flex;
	gap: 20px;
		flex-wrap: wrap;
	}
}
